body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  margin-top: 100px;
}

input {
  width: 300px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
}
